#e4vi9q22omut8 {
  animation: e4vi9q22omut8__m 18000ms cubic-bezier(0.23, 1, 0.32, 1) infinite normal forwards;
}
@keyframes e4vi9q22omut8__m {
  0% {
    d: path(
      'M114.906000,465.854000C98.467100,389.534000,197.813000,278.088000,225.213000,261.152000L560.174000,171.974000L628.100000,294.387000C602.070000,338.285000,466.812000,433.140000,372.283000,484.573000C254.122000,548.864000,135.456000,561.254000,114.906000,465.854000Z'
    );
  }
  22% {
    d: path(
      'M114.906000,475.975824C98.467100,397.027208,197.813000,281.742782,225.213000,264.223471L560.174000,171.974000L628.100000,298.603152C602.070000,344.013088,466.812000,442.135087,372.283000,495.339544C254.122000,561.844857,135.456000,574.661593,114.906000,475.975824Z'
    );
  }
  50% {
    d: path(
      'M114.964407,462.295334C97.999171,382.054323,200.525896,264.882682,228.803181,247.076580L574.488854,153.316978L644.589687,282.019059C617.726266,328.172359,478.137619,427.900622,380.582020,481.976040C258.637780,549.570049,136.172370,562.596597,114.964407,462.295334Z'
    );
  }
  80% {
    d: path(
      'M114.906000,457.863387C98.467100,372.739167,197.813000,248.436838,225.213000,229.547113L560.174000,130.081604L628.100000,266.616079C602.070000,315.578120,466.812000,421.375524,372.283000,478.741797C254.122000,550.449360,135.456000,564.268661,114.906000,457.863387Z'
    );
  }
  100% {
    d: path(
      'M114.906000,465.854000C98.467100,389.534000,197.813000,278.088000,225.213000,261.152000L560.174000,171.974000L628.100000,294.387000C602.070000,338.285000,466.812000,433.140000,372.283000,484.573000C254.122000,548.864000,135.456000,561.254000,114.906000,465.854000Z'
    );
  }
}
#e4vi9q22omut9 {
  animation: e4vi9q22omut9__m 18000ms cubic-bezier(0.23, 1, 0.32, 1) infinite normal forwards;
}
@keyframes e4vi9q22omut9__m {
  0% {
    d: path(
      'M342.645000,283.351000C205.463000,323.591000,132.435000,300.118000,114.906000,283.351000C47.229100,253.171000,80.228200,183.512000,101.949000,161.792000L213.981000,184.656000L427.756000,100.060000L676.971000,86.341800C681.162000,157.219000,598.236000,455.112000,595.805000,391.572000C587.803000,182.370000,514.123000,233.052000,342.645000,283.351000Z'
    );
  }
  50% {
    d: path(
      'M319.403418,333.628534C194.111726,389.274992,127.413460,356.815019,111.403793,333.628534C49.592818,291.893690,79.731706,195.564748,99.569847,165.528936L201.891425,197.146744L397.137385,80.161959L624.751568,61.191550C628.579311,159.205097,552.840958,571.150683,550.620666,483.283488C543.312243,193.985517,476.018488,264.071844,319.403418,333.628534Z'
    );
  }
  100% {
    d: path(
      'M342.645000,283.351000C205.463000,323.591000,132.435000,300.118000,114.906000,283.351000C47.229100,253.171000,80.228200,183.512000,101.949000,161.792000L213.981000,184.656000L427.756000,100.060000L676.971000,86.341800C681.162000,157.219000,598.236000,455.112000,595.805000,391.572000C587.803000,182.370000,514.123000,233.052000,342.645000,283.351000Z'
    );
  }
}
#e4vi9q22omut10 {
  animation: e4vi9q22omut10__m 18000ms cubic-bezier(0.23, 1, 0.32, 1) infinite normal forwards;
}
@keyframes e4vi9q22omut10__m {
  0% {
    d: path(
      'M29.881500,216.189000C-68.072100,183.067000,-67.309300,87.583800,-44.993900,57.634000L-44.993800,-92.996100L623.594000,-71.857600C618.602000,-41.907700,583.602000,66.439400,536.387000,98.151000C477.368000,137.791000,152.324000,257.590000,29.881500,216.189000Z'
    );
  }
  50% {
    d: path(
      'M25.617702,245.453246C-69.497460,209.196262,-68.756764,104.675616,-47.088005,71.891079L-47.087908,-92.996100L602.125973,-69.856849C597.278628,-37.072203,563.292836,81.529906,517.446003,116.242997C460.137218,159.634907,144.512140,290.772835,25.617702,245.453246Z'
    );
  }
  100% {
    d: path(
      'M29.881500,216.189000C-68.072100,183.067000,-67.309300,87.583800,-44.993900,57.634000L-44.993800,-92.996100L623.594000,-71.857600C618.602000,-41.907700,583.602000,66.439400,536.387000,98.151000C477.368000,137.791000,152.324000,257.590000,29.881500,216.189000Z'
    );
  }
}
#e4vi9q22omut11 {
  animation: e4vi9q22omut11__m 18000ms cubic-bezier(0.23, 1, 0.32, 1) infinite normal forwards;
}
@keyframes e4vi9q22omut11__m {
  0% {
    d: path(
      'M197.134000,254.736000C95.881000,254.736000,43.966800,170.063000,31.349600,122.529000C53.410600,150.310000,92.834200,205.317000,197.134000,178.090000C400.586000,124.980000,361.432000,195.056000,423.759000,99.288100L472.115000,111.767000C351.068000,181.483000,298.387000,254.736000,197.134000,254.736000Z'
    );
  }
  50% {
    d: path(
      'M201.551878,260.064900C97.600654,260.064900,44.303027,172.489230,31.349600,123.325720C53.998489,152.059079,94.472662,208.951770,201.551878,180.791403C410.425536,125.860742,370.228147,198.339014,434.216058,99.288100L483.860665,112.194788C359.587964,184.300718,305.503102,260.064900,201.551878,260.064900Z'
    );
  }
  100% {
    d: path(
      'M197.134000,254.736000C95.881000,254.736000,43.966800,170.063000,31.349600,122.529000C53.410600,150.310000,92.834200,205.317000,197.134000,178.090000C400.586000,124.980000,361.432000,195.056000,423.759000,99.288100L472.115000,111.767000C351.068000,181.483000,298.387000,254.736000,197.134000,254.736000Z'
    );
  }
}
#e4vi9q22omut14 {
  animation: e4vi9q22omut14__m 18000ms cubic-bezier(0.23, 1, 0.32, 1) infinite normal forwards;
}
@keyframes e4vi9q22omut14__m {
  0% {
    d: path(
      'M128.670000,165.735000C71.708800,155.876000,57.468700,94.989500,57.468800,65.778300C121.002000,184.082000,363.270000,115.072000,476.462000,65.778300C453.184000,80.383800,398.414000,112.881000,365.552000,126.026000C324.474000,142.457000,199.872000,178.058000,128.670000,165.735000Z'
    );
  }
  30% {
    d: path(
      'M132.924119,203.708259C72.559610,187.019231,57.468694,83.952344,57.468800,34.504478C124.797973,234.765524,381.540968,117.947413,501.495948,34.504478C476.827137,59.228241,418.784747,114.238552,383.959312,136.490024C340.426990,164.303940,208.380287,224.568273,132.924119,203.708259Z'
    );
  }
  75% {
    d: path(
      'M130.544899,174.067242C72.083773,162.934007,57.468697,94.178177,57.468800,61.191550C122.674982,194.785516,371.322481,116.856258,487.495098,61.191550C463.604132,77.684751,407.391907,114.382080,373.664571,129.226017C331.504889,147.780656,203.621819,187.982939,130.544899,174.067242Z'
    );
  }
  100% {
    d: path(
      'M128.670000,165.735000C71.708800,155.876000,57.468700,94.989500,57.468800,65.778300C121.002000,184.082000,363.270000,115.072000,476.462000,65.778300C453.184000,80.383800,398.414000,112.881000,365.552000,126.026000C324.474000,142.457000,199.872000,178.058000,128.670000,165.735000Z'
    );
  }
}
