html,
body {
  height: 100%;
  color: var(--stacks-colors-text)
}

.prism-code *::selection {
  background-color: #aab3ff;
  color: white !important;
}

.clarity-editor-wrapper {
  position: absolute !important;
}

.code-editor {
  pre {
    width: fit-content;
    min-width: 100%;
    transform: translateY(2px);
  }

  input,
  textarea,
  [contenteditable] {
    caret-color: white;
  }

  & * {
    font-size: 14px !important;
  }

  textarea {
    width: 100% !important;
    padding-left: 76px !important;
    font-size: 14px !important;
    padding-top: 2px !important;
    font-family: 'Fira Code', monospace !important;
    line-height: 24px !important;
    outline: transparent;
  }

  & > div {
    overflow: initial !important;
  }

  textarea,
  pre {
    white-space: pre !important;
    overflow-wrap: unset !important;
  }
}

.react-datepicker {
  font-family: var(--stacks-fonts-body) !important;
}

.react-datepicker__current-month {
  font-weight:var(--stacks-fontWeights-medium) !important;
  font-size: var(--stacks-fonts-size-sm) !important;
}

.react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range, .react-datepicker__day--selected {
  background-color: var(--stacks-colors-brand) !important;
  color: white !important;
}

.react-datepicker__day--disabled {
  background-color: var(--stacks-colors-purple-200) !important;
  color: var(--stacks-colors-slate-500) !important;
}

.react-datepicker__day--keyboard-selected {
  color: white !important;
}

.react-datepicker__day--today {
  font-weight: var(--stacks-fonts-weight-medium) !important;
}

.react-datepicker-wrapper {
  width: 100%;
}
