# PRs:
#   - Builds Explorer
# Pushes:
#   - Builds Explorer
#   - Pushes Docker image to Docker Hub
#   - Deploys to staging environment
# Tags:
#   - Builds Explorer
#   - Pushes Docker image to Docker Hub
#   - Deploys to staging environment
#   - Deploys to prod environment

name: CI/CD
on:
  push:
    branches:
      - '**'
    paths-ignore:
      - '**/CHANGELOG.md'
      - '**/package.json'
  workflow_dispatch:

jobs:
  pre_run:
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@ad6cb1b847ffb509a69b745b6ee2f1d14dfe14b8
        with:
          access_token: ${{ github.token }}

  build-publish:
    runs-on: ubuntu-latest
    outputs:
      docker_image_digest: ${{ steps.docker_push.outputs.digest }}
      version: ${{ steps.docker_meta.outputs.version }}
      sem_version_bool: ${{ steps.semantic.outputs.new_release_published }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v2
        id: semantic
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SEMANTIC_RELEASE_PACKAGE: ${{ github.event.repository.name }}
        with:
          semantic_version: 19
          extra_plugins: |
            @semantic-release/changelog
            @semantic-release/git

      - name: Checkout tag
        if: steps.semantic.outputs.new_release_version != ''
        uses: actions/checkout@v3
        with:
          ref: v${{ steps.semantic.outputs.new_release_version }}

      - name: Docker meta
        id: docker_meta
        uses: docker/metadata-action@v3
        with:
          images: ${{ github.repository }}
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}},value=${{ steps.semantic.outputs.new_release_version }},enable=${{ steps.semantic.outputs.new_release_version != '' }}
            type=semver,pattern={{major}}.{{minor}},value=${{ steps.semantic.outputs.new_release_version }},enable=${{ steps.semantic.outputs.new_release_version != '' }}

      - name: Login to Dockerhub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build/Tag/Push Image
        id: docker_push
        uses: docker/build-push-action@v2
        with:
          push: true
          platforms: linux/arm64, linux/amd64, linux/amd64/v2, linux/amd64/v3
          tags: ${{ steps.docker_meta.outputs.tags }}
          labels: ${{ steps.docker_meta.outputs.labels }}
          build-args: |
            SEGMENT_WRITE_KEY=${{ secrets.SEGMENT_WRITE_KEY }}
            SENTRY_AUTH_TOKEN=${{ secrets.SENTRY_AUTH_TOKEN }}
            SENTRY_DSN=${{ secrets.SENTRY_DSN }}
            SENTRY_LOG_LEVEL=debug
            X_API_KEY=${{ secrets.X_API_KEY }}

      - name: Deployment Info
        run: 'echo "::warning::Will deploy docker tag/digest: ${{ steps.docker_meta.outputs.version }}/${{ steps.docker_push.outputs.digest }}"'

  deploy-staging:
    runs-on: ubuntu-latest
    needs:
      - build-publish
    env:
      DEPLOY_ENV: staging
    environment:
      name: k8s-staging
      url: https://explorer.staging.blockstack.xyz/
    concurrency:
      group: k8s-staging-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - name: Checkout actions repo
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GH_TOKEN }}
          repository: ${{ secrets.DEVOPS_ACTIONS_REPO }}

      - name: Deploy Explorer
        uses: ./actions/deploy
        with:
          argocd_apps: ${{ env.DEPLOY_ENV }}.${{ github.event.repository.name }}
          argocd_password: ${{ secrets.ARGOCD_PASSWORD }}
          argocd_username: ${{ secrets.ARGOCD_USERNAME }}
          docker_tag: ${{ needs.build-publish.outputs.docker_image_digest }}
          file_pattern: sites/explorer/${{ env.DEPLOY_ENV }}/deployment.yaml
          gh_token: ${{ secrets.GH_TOKEN }}

  auto-approve-staging:
    runs-on: ubuntu-latest
    if: needs.build-publish.outputs.sem_version_bool == 'true'
    needs:
      - build-publish
    steps:
      - name: Approve pending deployment
        run: |
          ENV_ID=$(curl -s -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" -H "Accept: application/vnd.github.v3+json" "https://api.github.com/repos/hirosystems/explorer/actions/runs/${{ github.run_id }}/pending_deployments" | jq -r '.[0].environment.id // empty')
          if [[ -n "${ENV_ID}" ]]; then
            curl -s -X POST -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" -H "Accept: application/vnd.github.v3+json" "https://api.github.com/repos/hirosystems/explorer/actions/runs/${{ github.run_id }}/pending_deployments" -d "{\"environment_ids\":[${ENV_ID}],\"state\":\"approved\",\"comment\":\"auto approve\"}"
          fi

  deploy-prod:
    runs-on: ubuntu-latest
    if: needs.build-publish.outputs.sem_version_bool == 'true'
    needs:
      - build-publish
      - deploy-staging
    env:
      DEPLOY_ENV: prod
    environment:
      name: k8s-prod
      url: https://explorer.stacks.co/
    concurrency:
      group: k8s-prod-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - name: Checkout actions repo
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GH_TOKEN }}
          repository: ${{ secrets.DEVOPS_ACTIONS_REPO }}

      - name: Deploy Explorer
        uses: ./actions/deploy
        with:
          argocd_apps: ${{ env.DEPLOY_ENV }}.${{ github.event.repository.name }}
          argocd_password: ${{ secrets.ARGOCD_PASSWORD }}
          argocd_username: ${{ secrets.ARGOCD_USERNAME }}
          docker_tag: ${{ needs.build-publish.outputs.docker_image_digest }}
          file_pattern: sites/explorer/${{ env.DEPLOY_ENV }}/deployment.yaml
          gh_token: ${{ secrets.GH_TOKEN }}
