# Deploys the selected branch or tag passed in to either k8s environment

name: Deploy
on:
  workflow_dispatch:
    inputs:
      tag:
        description: The tag to deploy. Omit this to deploy the selected branch.
        required: false

jobs:
  pre_run:
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@ad6cb1b847ffb509a69b745b6ee2f1d14dfe14b8
        with:
          access_token: ${{ github.token }}

  build-publish:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.docker_meta.outputs.version }}
    steps:
      - name: Checkout
        if: github.event.inputs.tag == ''
        uses: actions/checkout@v3

      - name: Docker meta
        if: github.event.inputs.tag == ''
        id: docker_meta
        uses: docker/metadata-action@v3
        with:
          images: ${{ github.repository }}
          tags: |
            type=ref,event=branch

      - name: Login to Dockerhub
        if: github.event.inputs.tag == ''
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build/Tag/Push Image
        if: github.event.inputs.tag == ''
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: ${{ steps.docker_meta.outputs.tags }}
          labels: ${{ steps.docker_meta.outputs.labels }}
          build-args: |
            SEGMENT_WRITE_KEY=${{ secrets.SEGMENT_WRITE_KEY }}
            SENTRY_AUTH_TOKEN=${{ secrets.SENTRY_AUTH_TOKEN }}
            SENTRY_DSN=${{ secrets.SENTRY_DSN }}
            SENTRY_LOG_LEVEL=debug
            X_API_KEY=${{ secrets.X_API_KEY }}

      - name: Deployment Info
        run: 'echo "::warning::Will deploy docker tag: ${{ steps.docker_meta.outputs.version || github.event.inputs.tag }}"'

  deploy-staging:
    runs-on: ubuntu-latest
    needs:
      - build-publish
    env:
      DEPLOY_ENV: staging
    environment:
      name: k8s-staging
      url: https://explorer.staging.blockstack.xyz/
    concurrency:
      group: k8s-staging-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - name: Checkout actions repo
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GH_TOKEN }}
          repository: ${{ secrets.DEVOPS_ACTIONS_REPO }}

      - name: Deploy Explorer
        uses: ./actions/deploy
        with:
          argocd_apps: ${{ env.DEPLOY_ENV }}.${{ github.event.repository.name }}
          argocd_password: ${{ secrets.ARGOCD_PASSWORD }}
          argocd_username: ${{ secrets.ARGOCD_USERNAME }}
          file_pattern: sites/explorer/${{ env.DEPLOY_ENV }}/deployment.yaml
          gh_token: ${{ secrets.GH_TOKEN }}
          docker_tag: ${{ github.event.inputs.tag || github.ref }}

  auto-approve-staging:
    runs-on: ubuntu-latest
    needs:
      - build-publish
    steps:
      - name: Approve pending deployment
        run: |
          ENV_ID=$(curl -s -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" -H "Accept: application/vnd.github.v3+json" "https://api.github.com/repos/hirosystems/explorer/actions/runs/${{ github.run_id }}/pending_deployments" | jq -r '.[0].environment.id // empty')
          if [[ -n "${ENV_ID}" ]]; then
            curl -s -X POST -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" -H "Accept: application/vnd.github.v3+json" "https://api.github.com/repos/hirosystems/explorer/actions/runs/${{ github.run_id }}/pending_deployments" -d "{\"environment_ids\":[${ENV_ID}],\"state\":\"approved\",\"comment\":\"auto approve\"}"
          fi

  deploy-prod:
    if: github.event.inputs.tag != '' # Only deploy tags to prod
    runs-on: ubuntu-latest
    needs:
      - deploy-staging
    env:
      DEPLOY_ENV: prod
    environment:
      name: k8s-prod
      url: https://explorer.stacks.co/
    concurrency:
      group: k8s-prod-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - name: Checkout actions repo
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GH_TOKEN }}
          repository: ${{ secrets.DEVOPS_ACTIONS_REPO }}

      - name: Deploy Explorer
        uses: ./actions/deploy
        with:
          argocd_apps: ${{ env.DEPLOY_ENV }}.${{ github.event.repository.name }}
          argocd_password: ${{ secrets.ARGOCD_PASSWORD }}
          argocd_username: ${{ secrets.ARGOCD_USERNAME }}
          file_pattern: sites/explorer/${{ env.DEPLOY_ENV }}/deployment.yaml
          gh_token: ${{ secrets.GH_TOKEN }}
          docker_tag: ${{ github.event.inputs.tag || github.ref }}
